<%- include('./partials/header.ejs') %>
    <div class="tradeLists">
          <% if(categories.length > 0){%>
              <% categories.forEach(category=>{%>
             <h3><%=category %><br> </h3>
              <% trades.forEach(trade=>{ %>

                <% if(trade.category==category){%>   
                  <a href="/trades/<%=trade.id %>">
                    <br><%=trade.name %></a><br>
                <%}%>
                <% }) %>
              <%})%>
          <%} else{%>
            <p  id="nope" >No Trades available</p>
            <%}%>   
    </div>
    <%- include('./partials/footer.ejs') %>
    
    